body {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #4adede;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.canvas {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tail {
    width: 10px;
    height: 10px;
    background-color: white;
}

